html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  background-color: rgb(17, 17, 78);
  font-size: xx-large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


